@import url('https://fonts.googleapis.com/css2/family-Spartan:wght@100;200;300;400;500;600,700,800,900&display=swар');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}


h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size: 40px;
    line-height: 54px;
    color: #222;
}

h4{
    font-size: 20px;
    color: #222;
}

h6{
    font-weight: 700;
    font-size: 12px;
}

p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #09e910;
    background-color: rgb(160, 63, 63);
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
}

body{
    width: 100%;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:20px 80px;
    background-color: rgb(216, 247, 202);
    box-shadow: 0 5px 15px rgba(0 ,0, 0, 0.06) ;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: black;
}

#navbar li a:hover,
#navbar li a.active {
    color: rgb(167, 135, 243);
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: rgb(167, 135, 243);
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#Hero {
    background-image: url("img/bg.png");
    height: 90vh;
    width: 90%;
    background-color: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#Hero h4{
    color: brown;
    padding-bottom: 15px ;
}

#Hero h1{
    color: #05f425;
}

#Hero button {
    background-color: beige;
    color: maroon;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo {
    margin-bottom: 30px;
}

footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
}

footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a {
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow {
    margin-top: 20px;
}

footer .follow i {
    color: #222;
    padding-right: 4px;
    cursor: pointer;
}

#product1 {
    text-align: center;
}

#product1 .pro-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;

}

#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0 , 0, 0.02);
    margin: 15px 0;
    position: relative;
}

#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0 , 0, 0.06);
}

#product1 .pro img {
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des {
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des h5 {
    padding-top: 7px;
    color: #222;
    font-size: 14px;
}

#product1 .pro .des span {
    font-size: 12px;
    color: #ebef14;

}

#product1 .pro .des h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #368e68;
}

#product1 .pro .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: antiquewhite;
    font-weight: 500;
    color: hsl(124, 59%, 20%);
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(img/b.png);
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-position: center;

}